/working/vo_mono_camera(Taeyoung96)/MapIntegration/DashCameraImg/
/working/vo_mono_camera(Taeyoung96)/MapIntegration/ZedCameraImg/

.vscode
*.pyc
videos/
*.ply
/.venv
/data/
/notUsefull/
StoringResults/*.png
StoringResults/*.html
working/kitti-odom-eval/result
working/kitti-odom-eval/plots
working/kitti-odom-eval/.*png
working/kitti-odom-eval/.*html
/notUsefull/DeepMatchVO/checkpoints/depth_model/model-250000.data-00000-of-00001
/notUsefull/DeepMatchVO/ckpt/model-250000.data-00000-of-00001
/notUsefull/DeepMatchVO/checkpoints/depth_model/model-250000.index
/notUsefull/DeepMatchVO/ckpt/model-250000.index
/notUsefull/DeepMatchVO/checkpoints/depth_model/model-250000.meta
/notUsefull/DeepMatchVO/ckpt/model-250000.meta
/notUsefull/DeepMatchVO/checkpoints/depth_model/model-258000.data-00000-of-00001
/notUsefull/DeepMatchVO/ckpt/model-258000.data-00000-of-00001
/notUsefull/DeepMatchVO/checkpoints/depth_model/model-258000.index
/notUsefull/DeepMatchVO/ckpt/model-258000.index
/notUsefull/DeepMatchVO/checkpoints/depth_model/model-258000.meta
/notUsefull/DeepMatchVO/ckpt/model-258000.meta
/NotWorking/VOLDOR/demo/opencv_world4110.dll
/NotWorking/VOLDOR/demo/ORBvoc.bin
/working/kitti-odom-eval/vo_data/*/*.html
/working/kitti-odom-eval/vo_data/*/*.png
